@page "/image-gallery"

<h3>Gallery</h3>
@if(imageSource is not null)
{
    <div>

        <img src="@imageSource" />
</div>
}

@for(var i = 1; 1 <= 2; i++)
{
    var imageId = i;
    <Button Type="ButtonType.Button" @onclick="() => DisplayImage(imageId)"> Image @imageId</Button>
}
@code {
    private string? imageSource;


    private void DisplayImage(int id)
    {
        imageSource = $"images/image{id}";
    }
}
