@page "/"

<PageTitle>Auroiah</PageTitle>

<h1 class="text-center">Auroiah</h1>

<div class="d-grid gap-2">
    <Callout Color="CalloutColor.None">
        <h4 class="text-center text-warning">WELCOME!</h4>
    </Callout>

    <div class="card">
      
        <p class="text-body">
      My name is Auroiah (A-roy-Ya) I am a Fullstack developer with primary focus in .NET. I use Blazor and looking to use the new MAUI for Frontend. I am also familiar with NODE, React and VUE. I currently work as a web developer supporting websites (debugging, updating, etc.) using PHP, WordPress and custom CMS tool, Web Host Manager and cPanel. I have experience with WAMP and LAMP stacks and containerized app development with Docker. My background is in IT support which also helps with managing servers, security, and more. My favorite hobby is to prototype and participate in game jams.  You can check out my games in the navigation to the left. There you will also see links to various projects, my GitHub, blog and Twitch channel where I livestream game development and App development. Come check it out!
        </p>
           <p>
           <ul>
               <li>
                   Websites (PHP/JS/Apache/CMS/)
               </li>
                <li>
                   Webapps (React, Blazor)
               </li>
                <li>
                   Games (Unity3D)
               </li>
                <li>
                   A.I./IoT (.NET)
               </li>
           </ul>
        </p>
</div>
<div>
            <iframe src="https://discord.com/widget?id=634128981779808256&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>

</div>
<footer>
    <p>Site built with Blazor</p>
    <ul>
        <li>
        </li>
    </ul>
</footer>
</div>




