@page "/"

<PageTitle>Auroiah</PageTitle>

<h1 class="text-center">Auroiah</h1>

<div class="d-grid gap-2">
    <Callout Color="CalloutColor.Warning">

        <h4 class="text-center text-warning">Under Construction</h4>
    </Callout>

    <div>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Leo vel fringilla est ullamcorper. 
            Nulla pellentesque dignissim enim sit. Nulla facilisi cras fermentum odio eu. Massa id neque aliquam vestibulum morbi blandit. Mauris pharetra et ultrices neque ornare. 
            Sapien et ligula ullamcorper malesuada proin libero nunc consequat. Sit amet consectetur adipiscing elit duis tristique sollicitudin nibh. Egestas tellus rutrum tellus pellentesque. 
            Condimentum vitae sapien pellentesque habitant. Suspendisse interdum consectetur libero id faucibus nisl. Dolor magna eget est lorem ipsum dolor sit. 
            Mi quis hendrerit dolor magna eget est lorem ipsum dolor. Dictumst quisque sagittis purus sit. 
            Enim diam vulputate ut pharetra sit amet aliquam id. Nunc aliquet bibendum enim facilisis gravida neque convallis a. Facilisis magna etiam tempor orci.
        </p>
           <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Leo vel fringilla est ullamcorper. 
            Nulla pellentesque dignissim enim sit. Nulla facilisi cras fermentum odio eu. Massa id neque aliquam vestibulum morbi blandit. Mauris pharetra et ultrices neque ornare. 
            Sapien et ligula ullamcorper malesuada proin libero nunc consequat. Sit amet consectetur adipiscing elit duis tristique sollicitudin nibh. Egestas tellus rutrum tellus pellentesque. 
            Condimentum vitae sapien pellentesque habitant. Suspendisse interdum consectetur libero id faucibus nisl. Dolor magna eget est lorem ipsum dolor sit. 
            Mi quis hendrerit dolor magna eget est lorem ipsum dolor. Dictumst quisque sagittis purus sit. 
            Enim diam vulputate ut pharetra sit amet aliquam id. Nunc aliquet bibendum enim facilisis gravida neque convallis a. Facilisis magna etiam tempor orci.
        </p>
</div>
<iframe src="https://player.twitch.tv/?video=1493940852&parent=www.auroiah.com" frameborder="0" allowfullscreen="true" scrolling="no" height="378" width="620"></iframe>
</div>




