@page "/"

<PageTitle>Auroiah's World!</PageTitle>



<div class="container">

    <div class="row">
        <div class="col">
            <div class="card align-content-center">
                <h3 class="display-4 text-muted card-header"> HELLO!</h3>

                <p class="lead">My name is Auroiah (A-roy-Ya) I am a <mark>Fullstack developer</mark> with primary focus in .NET. </p>
                <p class="card-text text-black ">
                    
                    I specialize in containerized applications, front-end with Blazor/Razor and also familiar with Javascript, React and VUE. 
                    I currently work as a web developer supporting websites (debugging, updating, etc.) using PHP, WordPress and custom CMS tool, Web Host Manager and cPanel. I have experience with WAMP and LAMP stacks and containerized app development with Docker.
                    My background is in IT support which also helps with managing servers, security, and more. My favorite hobby is to prototype and participate in game jams.  You can check out my games in the navigation to the left. There you will also see links to various projects, my GitHub, blog and Twitch channel where I livestream game development and App development. Come check it out!
                </p>


            </div>
        </div>
    </div>


    <div>
        <iframe src="https://discord.com/widget?id=634128981779808256&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>

    </div>
    <footer class="card">
    </footer>
</div>




