@page "/"

<PageTitle>Auroiah</PageTitle>

<h1 class="text-center">Auroiah</h1>

<div class="d-grid gap-2">
    <Callout Color="CalloutColor.None">
        <h4 class="text-center text-warning">WELCOME!</h4>
    </Callout>

    <div>

        <p class="text-body">
           Hello!
           My name is Auroiah (a-roy-Ya) I am a web and software developer that primarily focuses on the .NET eco system, but also work with Node, React and JS. My background is in IT support which also helps with managing servers, security, and more.
           My favorite hobby is to prototype and participate in game jams. I use Unity3D, you can check out my games in the link above. Other then that I love to toy around with different languages and frameworks, inclduing Rust, and flutter.
           This hobby of mine has grown and has became a habit that I stream on occassions. You can check out my twitch channel in the link above as well. Other then programming and learning, I am a hard working father of 4 , mentor, and a Army Veteran. 
           I had to overcome a lot of stereotypes and had to watch out from taking the same path as some of my peers. I fell in love with computers when I was young and since then have always been a hobby of mine!
        </p>
           <p>
           <ul>
               <li>
                   Websites (PHP/JS/Apache/CMS/)
               </li>
                <li>
                   Webapps (React, Blazor)
               </li>
                <li>
                   Games (Unity3D)
               </li>
                <li>
                   A.I./IoT (.NET)
               </li>
           </ul>
        </p>
</div>
<footer>
    <p>Site built with Blazor</p>
</footer>
</div>




