@page "/"

<PageTitle>Auroiah's Site'</PageTitle>


<div class="container">

    <div class="row">
       
        <div class="col-sm">
          

            <p class="lead card-text text-muted">My name is <strong>Auroiah</strong> I am a <mark>Fullstack MEAN LAMP developer</mark> with primary focus in .NET. </p>
                <p class="card-text text-black ">
                    
                    I am a <em>FullStack</em> specialize in MERN, MEAN, and LAMP stacks, . 
                    I currently work as a web developer supporting websites (debugging, updating, etc.) using PHP, WordPress and custom CMS tool, Web Host Manager and cPanel.
                    My background is in IT support which also helps with managing servers, security, and more. My favorite hobby is to prototype and participate in game jams.
                    Join the discord! <i class="bi bi-arrow-right"></i><i class="bi bi-arrow-right"></i>
                </p>
           
        </div>
        <div class="col-sm-4">

            <iframe src="https://discord.com/widget?id=634128981779808256&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>

        </div>
   
    </div>
    <div class="row">

        <div class="col container-fluid">
          
            <a class="nav-item" href="https://www.buymeacoffee.com/auroiahmorw">
                <h1>  Buy me a coffee??</h1>
                <i class="bi bi-cup-fill"></i>
                <i class="bi bi-cup-fill"></i>
                <i class="bi bi-cup-fill"></i>
            </a>


        </div>
    </div>


    <div>

    </div>
   
</div>

<footer class="card">

</footer>


