@page "/"

<PageTitle>Auroiah.COM</PageTitle>

<h1>Currently Under Construction</h1>

<a href="https://www.etsy.com/listing/1244480527/custom-birthday-shirts">Shop</a>
<a href="https://slugga.itch.io/" >Games</a>
<a href="https://www.twitch.tv/abm_dev">Twitch.tv</a>


