@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="card-header shadow-lg  content-align-center">
            <div class="row d-flex ">
                

                <div class="col-8"><h3 class="display-3"><a href="/" class="text-start text-muted"><img src="/images/logo-150.png" class="img-thumbnail rounded float-start" alt="abm logo" /> </a></h3></div>
                <div class="col-2">
                    <ul class="nav">
                        <li class="nav-item">


                            <Button Type="ButtonType.Link" Color="ButtonColor.Primary" To="https://slugga.itch.io/"><i class="bi bi-controller"></i></Button>

                        </li>
                        <li class="nav-item">
                            <Button Type="ButtonType.Link" Color="ButtonColor.Primary" To="https://Twitch.tv/abm_dev"><i class="bi bi-twitch"></i></Button>

                        </li>
                        <li class="nav-item">
                            <Button Type="ButtonType.Link" Color="ButtonColor.Primary" To="https://github.com/abmdev86" Target="Target.Blank"><i class="bi bi-github"></i></Button>

                        </li>
                        <li class="nav-item">
                            <Button Type="ButtonType.Link" Color="ButtonColor.Primary" To="https://twitter.com/abm_dev" Target="Target.Blank"><i class="bi bi-twitter"></i></Button>

                        </li>
                    </ul>
                </div>


            </div>

        </div>

        <article class="container content px-4">
            @Body
        </article>
    </main>
</div>
