@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="card-header top-row px-4 justify-content-center">
            <div class="row">
                <div class="col align-content-start">
            <h3><a class="text-muted display-3 navbar-text" href="/">Auroiah</a></h3>

                </div>

            </div>
            <div class="row">
                <div class=" col align-content-lg-center">

                      <ul class="nav">
                <li class="nav-item">


                    <Button Type="ButtonType.Link" Color="ButtonColor.Primary" To="https://slugga.itch.io/"><i class="bi bi-controller"></i></Button>

                </li>
                <li class="nav-item">
                    <Button Type="ButtonType.Link" Color="ButtonColor.Primary" To="https://Twitch.tv/abm_dev"><i class="bi bi-twitch"></i></Button>

                </li>
                <li class="nav-item">
                    <Button Type="ButtonType.Link" Color="ButtonColor.Primary" To="https://github.com/abmdev86" Target="Target.Blank"><i class="bi bi-github"></i></Button>

                </li>
                <li class="nav-item">
                    <Button Type="ButtonType.Link" Color="ButtonColor.Primary" To="https://twitter.com/abm_dev" Target="Target.Blank"><i class="bi bi-twitter"></i></Button>

                </li>
            </ul>
                </div>
            </div>
          

        </div>

        <article class="container content px-4">
            @Body
        </article>
    </main>
</div>
